@import 'tailwindcss';
@font-face {
    font-family: 'Formular';
    src: url('./assets/fonts/Formular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('./assets/fonts/Formular-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greenwich';
    src: url('./assets/fonts/Greenwich-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*, button {
    font-family: 'Formular', sans-serif;
}


#review-widget {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
}
